{% extends "auth/auth_base.html" %}
{% import "macros_wtf.html" as wtf %}


{% block content %}
    <h1 class="text-2xl font-bold text-center mb-4">Verify Password Reset</h1>
    <div class="container pt-3  justify-center">
        {{ wtf.display_messages() }}
    </div>

    <form action="{{ url_for('auth.reset_password', token=request.form['token']) }}" method="post">
    {{ form.hidden_tag() }}

    <div class="mb-4">
        {{ form.password.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.password(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='Enter your new password') }}
    </div>
    <div class="mb-4">
        {{ form.confirm_password.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.confirm_password(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='Confirm your password') }}
    </div>
    <div class="flex flex-col mt-6 mb-4">
        {{ form.submit(class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') }}
    </div>
    </form>
{% endblock %}