{% extends "auth/auth_base.html" %}
{% import "macros_wtf.html" as wtf %}


{% block content %}
    <h1 class="text-2xl font-bold text-center mb-4">Create Account</h1>
    <div class="container pt-3 items-center justify-center">
        {{ wtf.display_messages() }}
    </div>
    <form action="{{ url_for('auth.signup') }}" method="post">
      {{ form.hidden_tag() }}
    <div class="mb-4">
        {{ form.full_name.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.full_name(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='Enter your full name') }}
        {% for error in form.full_name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        {{ form.email.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder="Enter your email address") }}
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder="Enter your password") }}
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        {{ form.confirm_password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.confirm_password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder="Confirm your password") }}
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        {{ form.department.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.department(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", default="Select your department") }}
        {% for error in form.department.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        {{ form.workplace.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.workplace(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder="Your workplace (ex. project manager, change engineer...)") }}
        {% for error in form.workplace.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="flex items-center mb-6">
        {{ form.terms(class="mr-2") }}
        {{ form.terms.label(class="text-gray-700 text-sm") }}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.submit(class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') }}
        <a href="{{ url_for('auth.login') }}" class="text-center text-blue-500 hover:text-blue-700 mt-4">Already have an account? Login</a>
    </div>
    </form>
{% endblock %}